* {
padding:0px;
margin:0px;
}


.social{
    position: fixed;
    right:  10px;
    top:80px;
}
.boton {
    
 background-color: transparent; /* Tamaño de la imagen */
  height: 100px;  /* Alto del botón */
  width: 100px;  /* Ancho del botón */
  display: table;
  border-radius: 100%;

  cursor: pointer;
    box-shadow:
/* Sombras externa */
inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.30), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
/* Sombra interna */
0 5px 20px rgba(0,0,0,.1);
}

/* Al presionar */
.boton:active {
  box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 30%; /* Cambiamos el tamaño de la imagen */
  text-emphasis: circle;
}

.social h4{
    background-color: transparent;
    position: fixed;
    right:30px;
    top:100px;
    color: #132B3C;
    font-family: cursive;
    font-size: medium; 


}
.banner1{
  background:url() no-repeat 0px -10px;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  min-height:0px;


  }


.navi  li  a {
border-radius:3px;
background-color:#ecede8;
color:black;
text-decoration: none;
padding: 16px 18px;
display: block;
margin: 1px;
font-size: 13px;





}






.navi li a:hover{

background-color:#56BCCB;



}


.navi  li{

float: left;

}

.navi li ul{
  display:none;
  position: absolute;
  min-width: 140px;
  background-color:#A4A4A4;
}

.navi li ul a{
  background-color: #ecede8;
}


.navi li:hover > ul {

  display: block;

}


ul, ol{
  list-style:none; 
}

.span{
  width: 4px;
}


.nombreusuario{
  float:right;
  display:inline-block;
  position: right;
  text-align: center;
  margin: 9px;

}

.nombreusuario ul{
  padding:30px;     
  margin:0;
}
.nombreusuario ul li{
  display:inline-block;
}





.nombreusuarios  li  a {
border-radius:3px;
background-color:#ecede8;
color:black;
text-decoration: none;
padding: 10px 18px;
display: block;
margin: 1px;
font-size: 15px;

}




.nombreusuarios li a:hover{

background-color:#56BCCB;

}


.nombreusuarios  li{

float: left;

}


.nombreusuarios li ul a{
  background-color:#ecede8;
}


.nombreusuarios li:hover > ul {

  display: block;

}

.banner1 { 
    color: #fff;
    background-color: #f3f3f4;
    display: block;
    margin: 0em 1em ;
  padding:5px;
  border: 1px solid #ebeff6;
    border-color: #ebeff6;
    border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.banner1  h2{
  font-size:16px;
}
.banner1  h2 a { 
    color:#D95459;
  text-decoration:none;
  font-family: arial;
  padding:50px;
}
.banner1  h2 span{ 
    color:#000;
  font-family: 'Muli-Regular';
  padding:0.3em ;
}
.banner1  h2 i{ 
    color:#000;
  vertical-align:middle;
  padding:0.3em ;
}